<a href="https://colab.research.google.com/github/pkanyu/Colab-Notebooks/blob/main/PandasLesson2a.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# Fetching/Load, Data Preprocessing and Data Visualization
import pandas

In [ ]:
# Read Data(csv)
# syntax: pandas.read_csv('link')

data = pandas.read_csv('https://modcom.co.ke/data/datasets/school.csv', parse_dates= ["bday", "enrolldate", "expgradate"])
data

# Displaying data(head(), tail())
data.head(10)

,ids,bday,enrolldate,expgradate,Rank,Major,Gender,Athlete,Height,Weight,...,English,Reading,Math,Writing,State,LiveOnCampus,HowCommute,CommuteTime,SleepTime,StudyTime
0,43783,1995-03-22,NaT,NaT,NaN,NaN,0.0,0,72.35,NaN,...,88.24,81.50,60.02,81.44,In state,1.0,NaN,NaN,7.0,1.0
1,20278,1995-01-01,NaT,NaT,NaN,Philosophy,0.0,0,70.66,179.20,...,89.45,85.25,70.19,73.27,NaN,1.0,NaN,NaN,5.0,2.0
2,20389,1994-12-31,NaT,NaT,NaN,NaN,0.0,0,70.68,198.52,...,96.73,86.88,71.20,84.24,In state,NaN,NaN,NaN,8.0,7.0
3,22820,1994-12-01,NaT,NaT,NaN,business administration,1.0,0,NaN,198.34,...,74.06,88.68,55.89,73.16,In state,1.0,NaN,NaN,2.0,6.0
4,24559,1994-11-10,NaT,NaT,NaN,NaN,1.0,1,67.43,128.17,...,82.61,77.30,65.52,80.45,Out of state,1.0,NaN,NaN,7.0,3.0
5,28980,1994-09-17,NaT,NaT,NaN,astrophysics,0.0,1,68.45,171.61,...,70.10,NaN,61.40,77.48,In state,1.0,NaN,NaN,8.0,3.0
6,33312,1994-07-27,NaT,NaT,NaN,Anthropology,0.0,1,68.56,163.96,...,78.98,87.53,76.71,70.79,In state,1.0,NaN,NaN,9.0,9.0
7,40274,1994-05-03,NaT,NaT,NaN,American History,0.0,1,71.91,222.87,...,NaN,67.31,58.64,65.89,In state,0.0,NaN,NaN,8.0,3.0
8,40390,1994-04-30,NaT,NaT,NaN,Africana studies,1.0,1,68.84,154.70,...,75.65,76.54,51.14,75.94,In state,0.0,3.0,26.0,NaN,3.0
9,28942,1993-09-17,NaT,NaT,NaN,NaN,1.0,1,66.69,180.57,...,68.27,93.88,55.20,78.18,Out of state,NaN,1.0,13.0,2.0,15.0

In [ ]:
data.tail(5)

,ids,bday,enrolldate,expgradate,Rank,Major,Gender,Athlete,Height,Weight,...,English,Reading,Math,Writing,State,LiveOnCampus,HowCommute,CommuteTime,SleepTime,StudyTime
430,34021,1987-07-18,2011-08-01,2017-05-08,4.0,accounting,1.0,0,NaN,NaN,...,87.72,84.99,65.31,NaN,In state,0.0,1.0,18.0,1.0,10.0
431,40697,1987-04-29,2011-08-01,2016-05-09,4.0,NaN,0.0,0,68.50,131.92,...,91.01,86.87,70.25,82.67,In state,0.0,3.0,26.0,6.0,15.0
432,34272,NaT,2011-08-01,2016-05-09,4.0,nursing,0.0,1,68.10,130.07,...,81.05,85.76,58.16,81.87,NaN,0.0,3.0,29.0,6.0,10.0
433,33628,NaT,2011-08-01,2017-05-08,4.0,Nursing,1.0,1,69.27,157.26,...,75.59,85.97,66.84,79.35,In state,0.0,1.0,14.0,4.0,10.0
434,39298,NaT,2011-08-01,2017-05-08,4.0,NaN,1.0,1,66.68,152.33,...,75.65,77.24,60.24,75.23,In state,0.0,3.0,27.0,2.0,10.0

In [ ]:
data['Major'].head(20)

0                         NaN
1                  Philosophy
2                         NaN
3     business administration
4                         NaN
5                astrophysics
6                Anthropology
7            American History
8            Africana studies
9                         NaN
10                     French
11                    history
12                        NaN
13                        NaN
14      engineering,undecided
15       Fine Arts (Painting)
16                  education
17                        NaN
18           Exorcise Science
19                  saxophone
Name: Major, dtype: object

In [ ]:
data. loc[3:10]

,ids,bday,enrolldate,expgradate,Rank,Major,Gender,Athlete,Height,Weight,...,English,Reading,Math,Writing,State,LiveOnCampus,HowCommute,CommuteTime,SleepTime,StudyTime
3,22820,1994-12-01,NaT,NaT,NaN,business administration,1.0,0,NaN,198.34,...,74.06,88.68,55.89,73.16,In state,1.0,NaN,NaN,2.0,6.0
4,24559,1994-11-10,NaT,NaT,NaN,NaN,1.0,1,67.43,128.17,...,82.61,77.30,65.52,80.45,Out of state,1.0,NaN,NaN,7.0,3.0
5,28980,1994-09-17,NaT,NaT,NaN,astrophysics,0.0,1,68.45,171.61,...,70.10,NaN,61.40,77.48,In state,1.0,NaN,NaN,8.0,3.0
6,33312,1994-07-27,NaT,NaT,NaN,Anthropology,0.0,1,68.56,163.96,...,78.98,87.53,76.71,70.79,In state,1.0,NaN,NaN,9.0,9.0
7,40274,1994-05-03,NaT,NaT,NaN,American History,0.0,1,71.91,222.87,...,NaN,67.31,58.64,65.89,In state,0.0,NaN,NaN,8.0,3.0
8,40390,1994-04-30,NaT,NaT,NaN,Africana studies,1.0,1,68.84,154.70,...,75.65,76.54,51.14,75.94,In state,0.0,3.0,26.0,NaN,3.0
9,28942,1993-09-17,NaT,NaT,NaN,NaN,1.0,1,66.69,180.57,...,68.27,93.88,55.20,78.18,Out of state,NaN,1.0,13.0,2.0,15.0
10,29045,1993-09-17,NaT,NaT,NaN,French,0.0,0,70.12,164.59,...,86.00,91.34,64.41,71.02,Out of state,0.0,3.0,20.0,1.0,6.0

In [ ]:
data.loc[6]

ids                           33312
bday            1994-07-27 00:00:00
enrolldate                      NaT
expgradate                      NaT
Rank                            NaN
Major                  Anthropology
Gender                          0.0
Athlete                           1
Height                        68.56
Weight                       163.96
Smoking                         0.0
Sprint                         4.75
MileMinDur                  0:05:47
English                       78.98
Reading                       87.53
Math                          76.71
Writing                       70.79
State                      In state
LiveOnCampus                    1.0
HowCommute                      NaN
CommuteTime                     NaN
SleepTime                       9.0
StudyTime                       9.0
Name: 6, dtype: object

In [ ]:
# Data Transformation
# Standardization
# Dates

data.head(10)

,ids,bday,enrolldate,expgradate,Rank,Major,Gender,Athlete,Height,Weight,...,English,Reading,Math,Writing,State,LiveOnCampus,HowCommute,CommuteTime,SleepTime,StudyTime
0,43783,1995-03-22,NaT,NaT,NaN,NaN,0.0,0,72.35,NaN,...,88.24,81.50,60.02,81.44,In state,1.0,NaN,NaN,7.0,1.0
1,20278,1995-01-01,NaT,NaT,NaN,Philosophy,0.0,0,70.66,179.20,...,89.45,85.25,70.19,73.27,NaN,1.0,NaN,NaN,5.0,2.0
2,20389,1994-12-31,NaT,NaT,NaN,NaN,0.0,0,70.68,198.52,...,96.73,86.88,71.20,84.24,In state,NaN,NaN,NaN,8.0,7.0
3,22820,1994-12-01,NaT,NaT,NaN,business administration,1.0,0,NaN,198.34,...,74.06,88.68,55.89,73.16,In state,1.0,NaN,NaN,2.0,6.0
4,24559,1994-11-10,NaT,NaT,NaN,NaN,1.0,1,67.43,128.17,...,82.61,77.30,65.52,80.45,Out of state,1.0,NaN,NaN,7.0,3.0
5,28980,1994-09-17,NaT,NaT,NaN,astrophysics,0.0,1,68.45,171.61,...,70.10,NaN,61.40,77.48,In state,1.0,NaN,NaN,8.0,3.0
6,33312,1994-07-27,NaT,NaT,NaN,Anthropology,0.0,1,68.56,163.96,...,78.98,87.53,76.71,70.79,In state,1.0,NaN,NaN,9.0,9.0
7,40274,1994-05-03,NaT,NaT,NaN,American History,0.0,1,71.91,222.87,...,NaN,67.31,58.64,65.89,In state,0.0,NaN,NaN,8.0,3.0
8,40390,1994-04-30,NaT,NaT,NaN,Africana studies,1.0,1,68.84,154.70,...,75.65,76.54,51.14,75.94,In state,0.0,3.0,26.0,NaN,3.0
9,28942,1993-09-17,NaT,NaT,NaN,NaN,1.0,1,66.69,180.57,...,68.27,93.88,55.20,78.18,Out of state,NaN,1.0,13.0,2.0,15.0

In [ ]:
# Correlation
# Column Analysis

In [ ]:
# Statistical -> describe()

data.describe()

,ids,Rank,Gender,Athlete,Height,Weight,Smoking,Sprint,English,Reading,Math,Writing,LiveOnCampus,HowCommute,CommuteTime,SleepTime,StudyTime
count,435.000000,406.000000,426.000000,435.000000,408.000000,376.000000,411.000000,374.000000,409.000000,425.000000,422.000000,404.000000,414.000000,247.000000,247.000000,403.000000,393.000000
mean,35279.022989,2.199507,0.521127,0.422989,68.031765,181.031569,0.430657,6.581933,82.787555,82.070800,65.468009,79.521683,0.410628,2.781377,27.000000,5.461538,7.208651
std,8637.733605,1.098641,0.500141,0.494602,5.325655,42.749680,0.766324,1.227069,6.839803,7.661778,8.375930,5.511410,0.492543,0.698996,10.072905,2.421994,4.356233
min,20183.000000,1.000000,0.000000,0.000000,55.000000,101.710000,0.000000,4.503000,59.830000,55.110000,35.320000,64.060000,0.000000,1.000000,4.000000,0.000000,0.000000
25%,28001.000000,1.000000,0.000000,0.000000,64.827500,153.860000,0.000000,5.587500,78.330000,77.190000,60.202500,75.750000,0.000000,3.000000,21.000000,4.000000,4.000000
50%,35350.000000,2.000000,1.000000,0.000000,67.570000,172.960000,0.000000,6.569000,83.150000,81.940000,65.445000,79.035000,0.000000,3.000000,27.000000,5.000000,6.000000
75%,42655.500000,3.000000,1.000000,1.000000,71.575000,204.307500,1.000000,7.458000,87.170000,87.080000,70.567500,83.687500,1.000000,3.000000,32.000000,7.000000,10.000000
max,49947.000000,4.000000,1.000000,1.000000,84.410000,350.070000,2.000000,9.597000,101.950000,103.620000,93.780000,93.010000,1.000000,4.000000,64.000000,13.000000,23.000000

In [ ]:
# correlation: Relationship:
# Positive Correlation: Increase in one column will lead to decrease in the other column
# and vise versa e,g Petrol Price Increase, Commodity Prices Increase

# Negative Correlation: Increase in one column leads to decrease on another columns
# e,g Increase Exercise Per Day, weight will Decrease

# Maximum Corr 1
data.corr()

<ipython-input-55-0ec449c24fca>:9: FutureWarning: The default value of numeric_only in DataFrame.corr is deprecated. In a future version, it will default to False. Select only valid columns or specify the value of numeric_only to silence this warning.
  data.corr()

,ids,Rank,Gender,Athlete,Height,Weight,Smoking,Sprint,English,Reading,Math,Writing,LiveOnCampus,HowCommute,CommuteTime,SleepTime,StudyTime
ids,1.000000,-0.039713,0.002945,-0.030216,0.038474,-0.002775,0.123549,0.057351,0.015218,-0.091836,-0.040006,0.062961,0.101015,0.009931,0.058263,0.072496,-0.009118
Rank,-0.039713,1.000000,0.012718,0.004931,0.010624,-0.043090,0.057275,0.045420,0.079576,0.061423,-0.013496,0.071888,-0.598949,-0.270196,-0.195066,-0.192962,0.429231
Gender,0.002945,0.012718,1.000000,-0.140818,-0.465734,-0.349041,0.052520,0.237778,0.001696,0.020229,-0.132844,0.418741,0.041487,-0.032140,-0.062471,-0.063800,0.017319
Athlete,-0.030216,0.004931,-0.140818,1.000000,0.198931,-0.154989,-0.201644,-0.786012,-0.089919,-0.064606,-0.015270,-0.146952,-0.018486,0.105137,0.085541,0.042661,-0.006432
Height,0.038474,0.010624,-0.465734,0.198931,1.000000,0.513259,-0.100852,-0.108787,-0.035347,-0.004387,0.084376,-0.215581,-0.015423,-0.051186,-0.041968,-0.009745,-0.062125
Weight,-0.002775,-0.043090,-0.349041,-0.154989,0.513259,1.000000,0.004372,-0.102381,0.040745,0.032158,0.155391,-0.136199,-0.021766,-0.035083,-0.003874,-0.065861,0.051991
Smoking,0.123549,0.057275,0.052520,-0.201644,-0.100852,0.004372,1.000000,0.223022,-0.003564,-0.029497,-0.043135,0.027774,-0.014855,-0.068275,0.010068,-0.018980,-0.032570
Sprint,0.057351,0.045420,0.237778,-0.786012,-0.108787,-0.102381,0.223022,1.000000,0.083247,0.051087,-0.083709,0.188241,0.014178,-0.116975,-0.100862,-0.053113,-0.055874
English,0.015218,0.079576,0.001696,-0.089919,-0.035347,0.040745,-0.003564,0.083247,1.000000,0.333183,0.243014,0.366806,-0.071455,0.101915,0.098800,-0.055363,-0.008809
Reading,-0.091836,0.061423,0.020229,-0.064606,-0.004387,0.032158,-0.029497,0.051087,0.333183,1.000000,0.519849,0.105491,-0.075308,0.092547,0.023144,-0.023526,0.019203
Math,-0.040006,-0.013496,-0.132844,-0.015270,0.084376,0.155391,-0.043135,-0.083709,0.243014,0.519849,1.000000,0.118626,-0.094410,0.154668,0.097992,0.033616,0.060178
Writing,0.062961,0.071888,0.418741,-0.146952,-0.215581,-0.136199,0.027774,0.188241,0.366806,0.105491,0.118626,1.000000,-0.018790,0.043513,-0.022736,0.015838,0.090826
LiveOnCampus,0.101015,-0.598949,0.041487,-0.018486,-0.015423,-0.021766,-0.014855,0.014178,-0.071455,-0.075308,-0.094410,-0.018790,1.000000,NaN,NaN,0.171946,-0.294280
HowCommute,0.009931,-0.270196,-0.032140,0.105137,-0.051186,-0.035083,-0.068275,-0.116975,0.101915,0.092547,0.154668,0.043513,NaN,1.000000,0.719950,0.062472,-0.205957
CommuteTime,0.058263,-0.195066,-0.062471,0.085541,-0.041968,-0.003874,0.010068,-0.100862,0.098800,0.023144,0.097992,-0.022736,NaN,0.719950,1.000000,0.058833,-0.145903
SleepTime,0.072496,-0.192962,-0.063800,0.042661,-0.009745,-0.065861,-0.018980,-0.053113,-0.055363,-0.023526,0.033616,0.015838,0.171946,0.062472,0.058833,1.000000,-0.111178
StudyTime,-0.009118,0.429231,0.017319,-0.006432,-0.062125,0.051991,-0.032570,-0.055874,-0.008809,0.019203,0.060178,0.090826,-0.294280,-0.205957,-0.145903,-0.111178,1.000000

In [ ]:
# Types of Data (Categorical Data, Continuous)
# Data Pre Processing(Clean, Transformation, Reduction, wrangling)

In [ ]:
# Dropping Columns -> Dates: Time Series Analysis
data.dropna(subset=["bday","enrolldate","expgradate"], inplace = True)

In [ ]:
data.isnull().sum()

ids               0
bday              0
enrolldate        0
expgradate        0
Rank              0
Major           145
Gender            9
Athlete           0
Height           21
Weight           54
Smoking          21
Sprint           52
MileMinDur       38
English          25
Reading           8
Math             13
Writing          31
State            22
LiveOnCampus     18
HowCommute      171
CommuteTime     171
SleepTime        31
StudyTime        39
dtype: int64

In [ ]:
# Filling Empties for Categorical Data:
# Gender
# Smoking
# LiveOnCampus

# 1. Gender
# Empties -> Unknown
data.groupby("Gender").size()
data['Gender'].fillna('Unkown',inplace = True)
data.groupby('Gender').size()

Gender
0.0       184
1.0       207
Unkown      9
dtype: int64

In [ ]:
# Smoking
data.groupby('Smoking').size()
data['Smoking'].fillna('Unknown',inplace = True)
data.groupby('Gender').size()

Gender
0.0       184
1.0       207
Unkown      9
dtype: int64

In [ ]:
# EDA: Explanatory Data Analysis and Time Series Analysis(Date and Time)
# selecting columns:
# Single: Syntax -> data['column']
# Multiple Column -> data[['column1',column2]]
data[['Gender','Major']]

     Gender            Major
29      0.0       pre-pharma
30      1.0              NaN
31      0.0              NaN
32   Unkown              NaN
33      0.0          Pre Med
..      ...              ...
427     1.0  Interior design
428     1.0          Science
429     1.0        Marketing
430     1.0       accounting
431     0.0              NaN

[400 rows x 2 columns]

In [ ]:
#2. Filtering
# Filtering the DataFrame Based on a Condition
# Students who score more than 90 in maths
# Syntax: dataFrame[condition]

scored_90_maths = data[data['Math'] > 90]
scored_90_maths

,ids,bday,enrolldate,expgradate,Rank,Major,Gender,Athlete,Height,Weight,...,English,Reading,Math,Writing,State,LiveOnCampus,HowCommute,CommuteTime,SleepTime,StudyTime
352,26034,1990-10-24,2012-08-06,2017-05-08,3.0,aaaaaaaaaaaaaa,1.0,1,66.63,153.12,...,89.29,96.8,93.78,88.77,Out of state,0.0,3.0,22.0,7.0,10.0

In [ ]:
# More Filtering:
# Freshman and Scored More than 86 in English
data[(data['English'] >90) & (data['Rank'] == 'Freshman')]

Empty DataFrame
Columns: [ids, bday, enrolldate, expgradate, Rank, Major, Gender, Athlete, Height, Weight, Smoking, Sprint, MileMinDur, English, Reading, Math, Writing, State, LiveOnCampus, HowCommute, CommuteTime, SleepTime, StudyTime]
Index: []

[0 rows x 23 columns]

In [ ]:
# Filtering with Query method
# data.query(data['English'] > 50) and data(['Rank'] == 'Senior')

In [ ]:
# Handling Times and Dates: Time Series Analysis
data['enrolldata'] = pandas.to_datetime(data['enrolldate'])
# Extracting Years
data['Years'] = data['enrolldate'].dt.year
data['month'] = data['enrolldate'] .dt.month
data['Days'] = data['enrolldate'].dt.days

data['Years']
data['Months'].head(50)

AttributeError: ignored

In [ ]:
# Calculate the age of student at enrollment
# Born 2000
# Enroll 2017
data['AgeAtEnrollMent'] = (data['enrolldate'] - data['bday'])dt.days/365

In [ ]:
# The Number of Enrollment Each Year

enrollments_per_year = data['enrolldata'].dt.year.value_count().sort_index()
enrollments_per_year

AttributeError: ignored